
<!--Aqui empieza app-->
<div class="cont">
  <div class="cs-landing-header">
    <div class="container">
      <div class="title">Weather</div>
      <form (submit)='searchByCity(city)' class="form-container">
        <div class="city-box">
          <i class="icon-spinner-dark search-embedded-current-location-button_loader"></i>
          <input type="text" 
          class="form-control "
          placeholder="City Name" #city>
        </div>
        <button class="btn-search">Search</button>
      </form>
    </div>
    <div *ngIf="weatherData" class="temp-container">
      <div  style="padding-top: 30px">
        <div class="location-img"></div>
        <div class="dg-ext">{{cityName}}, {{country}}</div>
      </div>
      <div class="temp-box">
        <span>{{ temperature }}°</span>
      </div>

      <div>
        <span class="dg-ext">Feels like {{feelslLike}}°</span>
      </div>

      <div style="margin-bottom: 5px" class="dg-ext">
        <span style="margin-right: 30px">Temp min: {{tempMin}}°</span>
        <span style="margin-left: 30px">Temp max: {{tempMax}}°</span>
      </div>
      <hr style="background-color: white;margin:auto;width: 65%">
      <img id="img-icon" [src]="createIcon()" >
      <h4 style="margin-top: 0"> {{description}}</h4>
      <div class="rect-box ">
        <div class="rect-left ">
          <span class="dg-ext">Pressure</span>
          <span>{{pressure}}</span>
        </div>
        <div class="rect-right">
          <span class="dg-ext">Humidity</span>
          <span>{{humidity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


