
<!--Aqui empieza app-->
<div style="height: 100vh;">
  <div class="cs-landing-header">
    <div class="container">
      <form (submit)='searchByCity(city)' class="form-container">
      
        <div class="city-box">
          <i class="icon-spinner-dark search-embedded-current-location-button_loader"></i>
          <input type="text" 
          class="form-control "
          placeholder="City Name" #city>
        </div>
        <button class="btn-search">Search</button>
      </form>
    </div>
    <div *ngIf="weatherData" style="justify-content: center;width: 100%;
    align-items: center;text-align: center;">
      <div style="display: inline-block;background-color: lightcoral;font-size:52px;width: 200px;height: 150px;vertical-align: middle;">
        {{weatherData.main.temp}}
      </div>
      <div>
        <div>icono</div>
        <div>{{weatherData.name}},{{weatherData.sys.country}}</div>
      </div>
      <div>Temperature : {{weatherData.main.temp}}</div>
    </div>
  </div>
  <div class="content" role="main" style="display: block;">
    <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="550" viewBox="0 0 2611.084 485.677">
      
    </svg>
  </div>
</div>


